In [1]:
import pandas as pd

In [21]:
raw_shelter_animal = pd.read_csv('test.csv', )
raw_shelter_animal.head(10)

,ID,Name,DateTime,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
0,1,Summer,2015-10-12 12:15:00,Dog,Intact Female,10 months,Labrador Retriever Mix,Red/White
1,2,Cheyenne,2014-07-26 17:59:00,Dog,Spayed Female,2 years,German Shepherd/Siberian Husky,Black/Tan
2,3,Gus,2016-01-13 12:20:00,Cat,Neutered Male,1 year,Domestic Shorthair Mix,Brown Tabby
3,4,Pongo,2013-12-28 18:12:00,Dog,Intact Male,4 months,Collie Smooth Mix,Tricolor
4,5,Skooter,2015-09-24 17:59:00,Dog,Neutered Male,2 years,Miniature Poodle Mix,White
5,6,Beau,2015-06-23 11:17:00,Dog,Neutered Male,3 years,Beagle Mix,Brown/White
6,7,Bobo,2014-03-12 09:45:00,Cat,Neutered Male,13 years,Domestic Medium Hair Mix,Brown Tabby/White
7,8,Abby,2014-06-25 08:27:00,Cat,Spayed Female,6 months,Domestic Shorthair Mix,Brown Tabby
8,9,Ruby Grace,2014-11-12 18:05:00,Dog,Spayed Female,3 months,Cairn Terrier,Black/Cream
9,10,Ruby,2014-04-07 17:41:00,Dog,Spayed Female,1 year,Pit Bull Mix,Brown/White

In [22]:
raw_shelter_animal.shape

(11456, 8)

In [23]:
raw_shelter_animal.loc[:,'AnimalType'].value_counts()

Dog    6656
Cat    4800
Name: AnimalType, dtype: int64

In [24]:
raw_shelter_animal['Color'].unique()

array(['Red/White', 'Black/Tan', 'Brown Tabby', 'Tricolor', 'White',
       'Brown/White', 'Brown Tabby/White', 'Black/Cream', 'White/Black',
       'Blue/White', 'Brown Brindle', 'Black/Brown', 'White/Tricolor',
       'Torbie', 'Black', 'White/Tan', 'Tortie', 'Tan', 'Black Smoke',
       'Brown', 'Black/White', 'Red Merle/White', 'Gold', 'Orange Tabby',
       'Blue', 'Blue Tabby', 'Orange Tabby/White', 'Brown Brindle/White',
       'Chocolate', 'Blue Tabby/White', 'White/Brown', 'Brown/Tan',
       'White/Red', 'Tan/White', 'Gray/Black', 'White/Brown Tabby',
       'Black Brindle', 'Black Tabby', 'Calico Point', 'Calico', 'Sable',
       'Yellow/White', 'Brown/Black', 'Tortie Point', 'Red', 'Yellow/Tan',
       'Sable/White', 'Cream Tabby', 'Brown Merle', 'Black Brindle/White',
       'Lilac Point', 'Lynx Point', 'Cream', 'Blue/Tan', 'Yellow',
       'Buff/White', 'White/Brown Brindle', 'Gray/White',
       'Chocolate/White', 'Blue Merle', 'Black/Tricolor', 'Seal Point',
       'Red Merle', 'White/Buff', 'White/Blue', 'Sable/Brown',
       'Chocolate Point', 'Buff', 'Brown/Brown Brindle', 'Silver/Tan',
       'Yellow Brindle', 'Black/Tortie', 'Gray', 'Tricolor/Blue',
       'Gold/Cream', 'Fawn/White', 'Cream Tabby/White', 'Tan/Black',
       'Tricolor/White', 'Blue Point', 'Black/Brown Brindle',
       'White/Gray', 'Tan/Gray', 'Red/Red Tick', 'Red/Black',
       'Blue Cream', 'Silver Tabby', 'Torbie/White', 'White/Orange Tabby',
       'Blue Tiger/White', 'Cream/White', 'Blue Tick', 'Black/Black',
       'Flame Point', 'Red/Cream', 'Gray/Cream', 'Chocolate/Tan',
       'White/Silver', 'Black Tabby/White', 'Gold/White', 'Tan/Brown',
       'White/Cream', 'Black Smoke/White', 'Fawn', 'Blue Tick/Red',
       'Silver/Brown', 'Blue Merle/Black', 'Yellow Brindle/White',
       'Gray/Brown', 'Red Tick/White', 'Apricot', 'Calico/White',
       'Liver/White', 'Tan/Buff', 'Sable/Tan', 'Chocolate/Black Smoke',
       'White/Blue Merle', 'Black/Blue Merle', 'Tortie/Calico',
       'Black/Gray', 'Blue Tick/Tan', 'Brown Merle/Tan',
       'White/Chocolate', 'Calico/Tricolor', 'Blue Merle/White',
       'Calico/Black', 'Seal Point/White', 'Tan/Cream',
       'White/Blue Tabby', 'Red Tick', 'Gray/Tortie', 'Fawn/Blue',
       'Blue Point/White', 'Gray/Tricolor', 'Gray Tabby', 'Fawn/Tan',
       'Blue Merle/Brown', 'White/Black Brindle', 'Lynx Point/White',
       'Brown/Brown', 'Brown/Red Merle', 'Brown/Buff',
       'Silver Tabby/White', 'White/Blue Cream', 'Lilac Point/Cream',
       'Gray Tabby/White', 'White/Orange', 'Silver/White', 'Liver',
       'Gray/Tan', 'Tortie/White', 'Cream/Gray', 'Silver Lynx Point',
       'White/Apricot', 'Red/Tan', 'Tan/Silver', 'White/Calico',
       'White/Lynx Point', 'Blue Tick/Red Tick', 'Black/Orange',
       'Brown Merle/White', 'Black/Buff', 'Blue Merle/Brown Brindle',
       'Sable/Gray', 'Tricolor/Blue Merle', 'Lilac Point/White',
       'Red/Brown', 'Blue/Gray', 'Tan/Red Tick', 'Brown/Tricolor',
       'Blue Merle/Tan', 'Tricolor/Tan', 'Blue Cream/White', 'Blue Smoke',
       'Sable/Red', 'Black/Red', 'Brown Brindle/Black',
       'Calico Point/White', 'Tortie Point/White', 'White/Red Tick',
       'Blue Merle/Tricolor', 'Fawn/Gray', 'Red/Gray', 'Sable/Buff',
       'Liver/Tan', 'Chocolate/Cream', 'Chocolate/Tricolor',
       'Black/Silver', 'White/Cream Tabby', 'Chocolate Point/White',
       'White/Yellow Brindle', 'Brown/Cream', 'Brown Brindle/Brown',
       'White/Seal Point', 'Orange/White', 'Blue Merle/Blue Merle',
       'Orange Tabby/Tortie Point', 'Calico/Brown',
       'Black/Yellow Brindle', 'Orange', 'Yellow/Gray', 'Cream/Black',
       'Apricot/White', 'Tricolor/Blue Tick', 'Black Brindle/Blue Tick',
       'White/Gray Tiger', 'Buff/Black', 'Blue/Tricolor', 'Buff/Tan',
       'Blue/Black', 'Black/Blue Tick', 'Blue/Cream', 'Sable/Red Merle',
       'Brown Tabby/Orange', 'White/Liver', 'Gold/Tan', 'Fawn/Black',
       'Apricot/Tricolor', 'Chocolate/Brown', 'Silver/Black',
       'White/Brown Merle', 'Brown Tabby/Black', 'White/White', 'Silver',
       'Black Tabby/Black', 'Tan/Tan', 'Blue Tick/Black', 'Brown/Red',
       'Brown Brindle/Blue Tick', 'Cream/Red', 'Blue Tabby/Black',
       'Buff/Gray', 'Tortie/Orange', 'Tricolor/Brown Merle',
       'Black Brindle/Brown', 'Tortie/Blue Cream', 'Sable/Black',
       'Brown/Silver', 'Blue/Calico', 'Red Tick/Red', 'Tan/Yellow',
       'Red Tick/Brown', 'Blue/Yellow Brindle', 'Black/Chocolate',
       'Tricolor/Black', 'Silver/Cream', 'Liver/Brown Brindle',
       'Buff/Cream', 'Black/Black Brindle', 'Red/Red', 'White/Red Merle',
       'Gold/Yellow', 'Black Smoke/Black', 'Blue Tiger', 'Fawn/Chocolate',
       'Flame Point/White', 'Tricolor/Tricolor',
       'Brown Tabby/Black Brindle', 'Agouti', 'Blue Tick/Brown',
       'Brown Merle/Brown', 'Gray/Gold', 'Gold/Black',
       'White/Black Tabby', 'Fawn/Brown', 'Brown Brindle/Tan',
       'Blue Smoke/White', 'Pink', 'Gray/Buff', 'Gray/Silver',
       'Sable/Silver', 'Tortie/Black', 'Blue Tabby/Blue Cream',
       'Brown Tabby/Brown', 'Silver/Chocolate', 'Gray/Blue', 'Orange/Tan'],
      dtype=object)

In [25]:
from datetime import datetime

In [26]:
raw_shelter_animal['DateTime'] = raw_shelter_animal['DateTime'].apply(lambda date_time: datetime.strptime(date_time, '%Y-%m-%d %H:%M:%S'))

In [27]:
raw_shelter_animal['Name'].nunique()

3712

In [28]:
raw_shelter_animal.head(10)

,ID,Name,DateTime,AnimalType,SexuponOutcome,AgeuponOutcome,Breed,Color
0,1,Summer,2015-10-12 12:15:00,Dog,Intact Female,10 months,Labrador Retriever Mix,Red/White
1,2,Cheyenne,2014-07-26 17:59:00,Dog,Spayed Female,2 years,German Shepherd/Siberian Husky,Black/Tan
2,3,Gus,2016-01-13 12:20:00,Cat,Neutered Male,1 year,Domestic Shorthair Mix,Brown Tabby
3,4,Pongo,2013-12-28 18:12:00,Dog,Intact Male,4 months,Collie Smooth Mix,Tricolor
4,5,Skooter,2015-09-24 17:59:00,Dog,Neutered Male,2 years,Miniature Poodle Mix,White
5,6,Beau,2015-06-23 11:17:00,Dog,Neutered Male,3 years,Beagle Mix,Brown/White
6,7,Bobo,2014-03-12 09:45:00,Cat,Neutered Male,13 years,Domestic Medium Hair Mix,Brown Tabby/White
7,8,Abby,2014-06-25 08:27:00,Cat,Spayed Female,6 months,Domestic Shorthair Mix,Brown Tabby
8,9,Ruby Grace,2014-11-12 18:05:00,Dog,Spayed Female,3 months,Cairn Terrier,Black/Cream
9,10,Ruby,2014-04-07 17:41:00,Dog,Spayed Female,1 year,Pit Bull Mix,Brown/White

In [30]:
raw_shelter_animal['AgeuponOutcome'].unique()

array(['10 months', '2 years', '1 year', '4 months', '3 years',
       '13 years', '6 months', '3 months', '5 months', '5 years',
       '4 years', '3 weeks', '1 week', '2 months', '9 months', '4 days',
       '2 weeks', '7 months', '9 years', '1 month', '12 years', '1 weeks',
       '6 days', '6 years', '8 years', '8 months', '4 weeks', '7 years',
       '10 years', '5 days', '17 years', '3 days', '15 years', '11 years',
       '14 years', '11 months', nan, '2 days', '1 day', '16 years',
       '20 years', '0 years', '22 years', '18 years', '5 weeks',
       '19 years'], dtype=object)

In [60]:
func = lambda str_date: str_date.split(' ')
raw_shelter_animal['AgeuponOutcome'].apply(func)

AttributeError: 'float' object has no attribute 'split'